*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    }
}


input {
    cursor: pointer;
    background-color: white;
}
input:hover {
    background-color: lightskyblue;
}
body{
    padding: 10px 10px;
}
#temp{
    margin: 0px 0px 5px;
}
#feel{
    margin: 0px 0px 5px;
}
#forecast {
    margin: 0px 0px 5px;
}
#city {
    margin: 0px 0px 5px;
    font-size: 20px;


    